.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* ------- Header Section -------*/

header {
  display: flex;
  margin-top: 4rem;
}
.headerone {
  flex-wrap: wrap;
  flex-basis: 40%;
  padding-left: 1.5rem;
}
.headerone h1 {
  color: rgb(78, 6, 78);
  font-size: 2.5rem;
}
.headerone p {
  color: rgb(167, 148, 167);
  margin-top: -1rem;
}
.headertwo {
  display: flex;
  flex-basis: 60%;
  justify-content: space-evenly;
  flex-flow: column wrap;
  text-align: center;
  align-content: flex-end;
  padding-right: 1.5rem;
}
.starone,
.startwo,
.starthree {
  color: orange;
  border-radius: 6px;
  background-color: rgb(243, 236, 243);
  padding: 0.8rem;
}
.starone {
  margin-right: 4rem;
  position: relative;
  right: 2rem;
  margin-left: -1rem;
}
.startwo {
  margin-right: 2rem;
  position: relative;
  right: 0.5rem;
}
.starthree {
  margin-left: 2rem;
}
.wordone,
.wordtwo,
.wordthree {
  color: purple;
  font-weight: bold;
  padding-left: 1rem;
}

/* ------- Main Section ------- */

main {
  display: flex;
  justify-content: space-around;
}
.personone,
.persontwo,
.personthree {
  width: 30%;
  background-color: rgb(71, 7, 71);
  height: 200px;
  border-radius: 8px;
}
.personone {
  margin-top: 2rem;
}
.persontwo {
  margin-top: 3rem;
}
.personthree {
  margin-top: 4rem;
}

.personone h3,
.persontwo h3,
.personthree h3 {
  display: inline-block;
  position: relative;
  bottom: 2.5rem;
  font-size: 1rem;
  color: white;
  text-align: center;
}
.personone h4,
.persontwo h4,
.personthree h4 {
  display: inline-block;
  position: relative;
  right: 6rem;
  bottom: 1rem;
  font-size: 15px;
  font-weight: normal;
  color: rgb(197, 17, 122);
}

.personone p,
.persontwo p,
.personthree p {
  display: inline-block;
  color: white;
  margin: 0 1.2rem;
}

.personone img,
.persontwo img,
.personthree img {
  margin: 1.5rem;
  border-radius: 50%;
  width: 30px;
}

/* ------- Media Screen ------- */

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0;
  }
  .headerone h1 {
    font-size: 2rem;
  }
  .headerone p {
    font-size: 0.8rem;
  }
  .headertwo {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .starone,
  .startwo,
  .starthree {
    margin: 0.5rem 0;
    position: static;
    flex-wrap: wrap;
    width: 100%;
  }
  .wordone,
  .wordtwo,
  .wordthree {
    display: block;
    font-size: 14px;
  }
  main {
    display: flex;
    flex-flow: column wrap;
  }
  .personone,
  .persontwo,
  .personthree {
    width: 100%;
    margin: 0.5rem 0;
  }
  .personone h4,
  .persontwo h4,
  .personthree h4 {
  }
}
