.wrapper {
  width: 80%;
  margin: 0 auto;
  font-family: "Spartan", sans-serif;
}

/* ------- Header Section -------*/

header {
  display: flex;
  margin-top: 4rem;
}
.headerone {
  flex-wrap: wrap;
  flex-basis: 40%;
  padding-left: 1.5rem;
}
.headerone h1 {
  color: hsl(300, 43%, 22%);
  font-size: 2.5rem;
  line-height: 2.4rem;
  word-wrap: break-word;
}
.headerone p {
  color: hsl(303, 10%, 53%);
  margin-top: -1rem;
  font-size: 12px;
  line-height: 1.3rem;
}
.headertwo {
  display: flex;
  flex-basis: 60%;
  justify-content: space-evenly;
  flex-flow: column wrap;
  text-align: center;
  align-content: flex-end;
  padding-right: 1.5rem;
}
.starone,
.startwo,
.starthree {
  color: orange;
  border-radius: 6px;
  background-color: hsl(300, 24%, 96%);
  padding: 0.8rem;
}
.starone {
  margin-right: 4rem;
  position: relative;
  right: 2rem;
  margin-left: -1rem;
}
.startwo {
  margin-right: 2rem;
  position: relative;
  right: 0.5rem;
}
.starthree {
  margin-left: 2rem;
}
.wordone,
.wordtwo,
.wordthree {
  font-weight: bold;
  padding-left: 1rem;
  font-size: 12px;
  color: hsl(300, 43%, 22%);
}

/* ------- Main Section ------- */

main {
  display: flex;
  justify-content: space-around;
}
.personone,
.persontwo,
.personthree {
  width: 30%;
  background-color: hsl(300, 43%, 22%);
  height: 200px;
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
}
.personone {
  margin-top: 2rem;
}
.persontwo {
  margin-top: 3rem;
}

.personthree {
  margin-top: 4rem;
}

.personone h3,
.persontwo h3,
.personthree h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
  font-size: 12px;
  color: hsl(300, 24%, 96%);
}
.personone h4,
.persontwo h4,
.personthree h4 {
  margin-top: -1rem;
  font-size: 12px;
  font-weight: normal;
  color: hsl(333, 80%, 67%);
}

.personone p,
.persontwo p,
.personthree p {
  line-height: 1.3rem;
  font-size: 12px;
  display: inline-block;
  color: hsl(300, 24%, 96%);
  margin: 0 1.2rem;
  margin-top: -2rem;
}

.personone img,
.persontwo img,
.personthree img {
  height: 20%;
  margin: 1.5rem;
  border-radius: 50%;
  width: 30px;
}

/* ------- Media Screen ------- */

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
  header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  .headerone {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .headerone h1 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 2rem;
    text-align: center;
  }
  .headerone p {
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
  }
  .headertwo {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .starone,
  .startwo,
  .starthree {
    margin: 0.5rem 0;
    position: static;
    flex-wrap: wrap;
    width: 90%;
  }
  .wordone,
  .wordtwo,
  .wordthree {
    display: block;
    font-size: 12px;
  }
  main {
    display: flex;
    flex-flow: column wrap;
  }
  .personone,
  .persontwo,
  .personthree {
    width: 100%;
    margin: 0.5rem 0;
  }
}
